* {
  font-family: "Mulish", sans-serif !important;
}
body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar-track {
  background-color: rgb(0, 12, 175);
}

body::-webkit-scrollbar-thumb {
  background-color: pink;
  outline: 1px solid pink;
  border-radius: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
